.container{ 'ng-controller' => 'ProviderController', 'ng-init' => "getProviders(#{@providers.to_json})"}
	%br
	.provider_list{'ng-repeat' => 'provider in providers', 'ng-cloack'=>''}
		{{provider.name}} -
		{{provider.phone}} -
		{{provider.email}}
		%a{"ui-sref" => "provider({provider: provider})"}
			Ver
